@font-face {
    font-family: 'MiFuente';
    src: url('../fonts/MadeInChina.ttf') format('woff2'),
         url('../fonts/MadeInChina.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

.frase {
    font-family: 'MiFuente', sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: url('') repeat;
  color: white;
}


header {
  background:radial-gradient(circle, rgb(142, 0, 0), rgb(74, 0, 0));
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

nav :hover{
  background-color:rgb(168, 6, 6);
}

.logo {
 width: 120px;
    height: 120px;
  background: url('../imagenes/imagenes-inicio/Logo.png') center/cover no-repeat;
}


nav{
    margin-top: 70px;
    font-size: 1em;
}


nav a {
  color: gold;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  font-family: 'MiFuente', sans-serif;
}


.carrusel {
  background: url(../imagenes/imagenes-inicio/fondo.jpg);

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.slider {
  position: relative;
  width: 80%;
  max-width: 600px;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  border-radius: 15px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  display: block;
  position: relative;
  opacity: 1;
  z-index: 1;
}

.flecha {
  color: gold;
  font-size: 2.5rem;
  background: transparent;
  border: none;
  pointer-events: none; 
  font-family: 'Arial', sans-serif;
  margin: 0 10px;
}

.flecha.decorativa {
  opacity: 0.5;
}


.nosotros {
  background: url(../imagenes/imagenes-inicio/fondo.jpg);
  background-position: 0%;
  padding: 30px;
  text-align: center;
  font-family: 'MiFuente', sans-serif;
}

.nosotros h2 {
font-family: 'MiFuente', sans-serif;
  font-size: 2em;
  color: gold;
  margin-bottom: 20px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  max-width: 500px;
  margin-bottom: 20px;
  font-family: 'MiFuente', sans-serif;
}

.texto button {
  margin-top: 10px;
  padding: 10px 20px;
  background: gold;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'MiFuente', sans-serif;
}

.foto-redonda {
  width: 120px;
  height: 120px;
  background: url('../imagenes/imagenes-inicio/nosotros.jpeg') center/cover no-repeat;
  border-radius: 50%;
}


.frase {
    position: relative;
    padding: 40px 20px;
    text-align: center;
    height: 500px;
}

.frase::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../imagenes/imagenes-inicio/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    z-index: -1;
}

.caja-frase {
  background:radial-gradient(circle, rgb(142, 0, 0), rgb(74, 0, 0));
  display: inline-block;
  margin-top: 150px;
  padding: 40px;
  border-radius: 15px;
  font-size: 1.2em;
  max-width: 600px;
  font-family: 'MiFuente', sans-serif;
}


footer {
  background: #600;
  padding: 30px 20px;
  text-align: center;
  font-family: 'MiFuente', sans-serif;
}

.info-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'MiFuente', sans-serif;
}

.info-footer h3 {
  color: gold;
  margin-bottom: 10px;
  font-family: 'MiFuente', sans-serif;
}

.info-footer ul {
  list-style: none;
  padding: 0;
  color: white;
  font-family: 'MiFuente', sans-serif;
}

.terminos {
  margin-top: 30px;
  font-size: 0.6em;
  font-family: 'MiFuente', sans-serif;
  color: gold;
}


@media (min-width: 768px) {
  .contenido {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
  .foto-redonda {
  width: 140px;
  height: 140px;
  background: url('../imagenes/imagenes-inicio/nosotros.jpeg') center/cover no-repeat;
  border-radius: 50%;
  margin-top: -80px;
}

.nosotros h2 {
  font-family: 'MiFuente', sans-serif;
  font-size: 2em;
  color: gold;
  margin-bottom: 20px;
  right: 80px;
    position: relative;
}

nav{
        margin-top: 110px;
    font-size: 1.5em;
}

.logo {
  width: 150px;
  height: 150px;
}
  .info-footer {
    flex-direction: row;
    justify-content: space-around;
  }
}
